@charset "UTF-8";

body{
    background-color: rgb(88, 179, 253);
    font-size: 1.5em;
    font-weight: 900;
     
}
header{
    color: white;
    text-align: center;
    text-decoration: underline;
 
}
 
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.616);
}

footer{
    text-align: center;
    font-style: italic;
}
footer>a{
    text-decoration: none;
}
footer > a:hover{
    color: white;
}