@charset "UTF-8";

body{
    background-color: #3f3fff;
    font-size: 1.5em;
    font-weight: 900;
    
     
}
header{
    color: white;
    text-align: center;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 7px;
    width: 500px;
        margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.616);
}
div{
    text-align: center;
    padding: 10px;
}

footer{
    text-align: center;
    color: white;
    font-style: italic;
}